<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="vendor/Materialize/bin/materialize.js"></script>
    <script src="scripts/appmeals.js"></script>
    <link type="text/css" rel="stylesheet" href="vendor/Materialize/bin/materialize.css" media="screen,projection" />
    <link rel="stylesheet" href="styles/stylesmeals.css">
    <meta charset="utf-8">
    <title>Index of Meals</title>
</head>
<body>
    <div class="parallax-container">
        <div class="parallax"><img src="https://i.imgur.com/gJZwosi.jpg" title="source: imgur.com" /></div>
    </div>
    <div class="section white">
        <div class="row container">
            <div class="row">
                <div class="col s12 center">
                    <h2>Meal Index</h2>
                </div>
                <div id='mealTarget'>
                    <script id='meal-template' type='text/x-handlebars-template'>
                        <div class="row meal" data-meal-id="{{_id}}">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class='row'>
                                            <div class="col-md-9 col-xs-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <h4 class='inline-header'>Meal:</h4>
                                                        <span class='meal-name'>{{name}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class='panel-footer'>
                                            <div class='panel-footer'>
                                                <a class="waves-effect waves-light btn #1e88e5 blue darken-4 viewAll"><i class="material-icons left">search</i>View ingredients</a>
                                                <a class="waves-effect waves-light btn #f44336 red deleteMeal"><i class="material-icons left">delete</i>Delete a meal</a>
                                            </div>
                                        </div>
                                    </div>
                    </script>
                    </div>

                    <div id="modal1" class="modal">
                        <div class="modal-content" data-ingredient-id="{{_id}}">
                            <h4>Ingredients</h4>
                            <script type="text/x-handlebars-template" id="ingredient-template">
                              <div>
                              <ul class="ingredientL">
                              <li>Name: {{food}}</li>
                              <li>Carbohydrates(g): {{carbohydrates}}</li>
                              <li>Fats(g): {{fats}}</li>
                              <li>Protein(g): {{protein}}</li>
                            </ul>
                            </div>
                          </script>
                        </div>
                      <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green #1e88e5 blue darken-4 right btn-flat">Close</a>
                        <a class=" modal-action modal-close waves-effect waves-green #4caf50 green
 btn-flat left addIngredient">Add Ingredient</a>
                      </div>
                    </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://i.imgur.com/mVlqyPa.jpg" title="source: imgur.com" /></div>
    </div>
</body>
</html>
